html {
    box-sizing: border-box;
} 

* {
    box-sizing: inherit;
} 



/* this animation comes from https://www.codesdope.com/blog/article/12-creative-css-and-javascript-text-typing-animati/ */
/* it is #6 on the list */


h1 {
    white-space: nowrap;
    overflow: hidden;    
    font-size: 2.5rem;
    color: #fff;
    margin: 4rem auto;
    font-family: 'IBM Plex Mono', 'Josefin Sans', 'Verdana', 'Futura', sans-serif;
    text-align: center;
    padding: 0.5rem;
  }

  
  
  /* Animation */
  h1 {
    animation: animated-text 4s steps(29,end) 1s 1 normal both,
               animated-cursor 600ms steps(29,end) infinite;
  }
  
  /* text animation */
  
  @keyframes animated-text{
    from{width: 0;}
    to{width: 570px;}
  }
  
  /* cursor animations */
  
  @keyframes animated-cursor{
    from{border-right-color: #fff;}
    to{border-right-color: transparent;}
  }

/* end of animation css */

  #open {
    background-color: #454A52;
    margin: 9rem auto;
    max-width: 800px;
    padding: 1rem;
    font-size: 1.2rem;
    border-style:ridge;
    color: #fff;
  }

  body {
    background-color: #454A52;
    font-family: 'IBM Plex Mono', 'Mate', 'Lucida Bright', 'Times New Roman', serif;
    margin: 1rem 0;
  }

  a {
    color: #fff;
  }

  p {
    max-width: 400px;
    margin: 1rem auto;
    text-align: center;
  }

footer p {
    color: #fff;
    margin: 5rem auto 0 auto;
    max-width: 700px;
    text-align: center;
}

footer a {
    color: #fff;
}

a:hover {
    color: #dbdbdb;
}


@media screen and (max-width: 560px) {
  #open {
        margin: 0;
        border-radius: 0;
        border-style: none;
  }
  h1 {
      white-space: wrap;
      border-right: none;
      padding: 0.5rem 0 0.5rem 0.5rem;
      margin: 2rem auto;
  }
  @keyframes animated-text{
    from{width: 0;}
    to{width: 300px;}
  }
}